html, body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.chat-window {
  width: 750px;
  margin: auto;
  border: 1px solid #eee;
}

.conversation-view {
  width: 100%;
  min-height: 300px;
  padding: 20px 40px;
}

.message-box {
  width: 100%;
  background-color: #d5d5d5;
  padding: 10px 20px;
}

.text-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #999;
  padding: 5px;
}

.chat-bubble {
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.chat-bubble.ai {
  justify-content: flex-end;
}

.chat-bubble.ai .chat-content {
  background-color: #eec799;
}

.chat-content {
  display: inline-block;
  padding: 8px 15px;
  background-color: #bada55;
  border-radius: 10px;
}
